body {background-color: #f5eee6;}
h2{color: #4b2e2e; font-weight: bold;}
.card {border-radius: 10px;}
.card-body {background-color: #fff8f0;}
.btn-primary { background:#6f4e37; border:none; }
.btn-success { background:#8b5e3c; border:none; }
.btn-warning { background:#c19a6b; border:none; }
.btn-danger { background:#a94442; border:none; }
.table-dark { background:#4b2e2e; }